html{
    font-size: 10px;
    --color-y: #FFB742;
}
body{
    background-color: #212529;
}
.wrap{
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}
.header nav{
    width: 40%;
}
.header .header_navigation{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.header_navigation li a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
}
.header_navigation li a:hover{
    color: var(--color-y);
}
.header a.header_btn, .btn3, .btn3_2 {
    color: #212529;
    background-color: var(--color-y);
    padding: 1.2rem 2.6rem;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    white-space: nowrap;
}
h2{
    color:#FFFFFF;
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
}
a{
    color:#FFFFFF;
}
h2 > a:hover{
    color: var(--color-y);
}
h3{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    text-align: center;
    text-transform: capitalize;
    color:#FFFFFF;
}
h4{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.second_logo{
    margin: 0 auto;
    display: flex;
    align-items: center;
}
/* пробний варіант*/
.card_box {
    padding: 0 50px;
    margin-top: 137px;
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    width: 100%;
    border: 3px solid rgba(56, 62, 69, 0.44);
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    width: 416px;
    height: 120px;
    margin: 0px 12px;
}
.img_logo {
    width: 64px;
    height: 64px;
    padding: 28px 30px;
}
.img_logo {
    margin: 0;
}
.card p {
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 159px;
    height: 70px;
    padding: 10px 50px 0px 40px;
    text-align: center;
    line-height: 1.5;
}
.card_text:hover{
    color: #212529;
}
.btn_2, .btn_skills{
    color: var(--color-y);
    background-color: rgba(56, 62, 69, 0.44);
    padding: 1.2rem 2.6rem;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    white-space: nowrap;
    margin: 0 auto;
    height: fit-content;
}
.btn2, .btnskills{
    color: var(--color-y);
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem;
    font-style: normal;
}
.about_me, .included{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    color:#FFFFFF;
}
.description, .description2{
    line-height: 30px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #D5D5D5;
    margin-bottom: 54px;
}
.btn3, .btn3_2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
}
.pic{
    width: 50%;
}
.man{
    padding: 0 50px;
    display: flex;
    align-items: center;
    vertical-align:middle ;
}
.texting{
    width: 50%;
}
.under{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}
.texting2{
    width: 50%;
}

.gallery {
    width: 42%;
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(2, 80px);
    grid-gap: 16px;
}
.gallery > div{
    background-color: #383E45;
}
.gallery__img{
    margin: 16px auto;
    display: block;
}
.pictures6{
    width: 42%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 31px;
}
.third_part{
    padding: 0 50px;
    margin: 0 auto;
    align-items: center;
    vertical-align:middle ;
}
.btn_work{
    background-color: rgba(56, 62, 69, 0.44);
    padding: 1.2rem 2.6rem;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    white-space: nowrap;
    margin: 0 auto;
    height: fit-content;
}
.btnwork{
    color: var(--color-y);
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem;
    font-style: normal;
    text-transform: uppercase;
}
.featured, .customer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color:#FFFFFF;
}
.second_navigation li :hover{
    color: var(--color-y);
}
.third_part{
    width: 50%;
}
.second_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}
.second_navigation li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
.third_part .second_navigation{
    display: flex;
    list-style: none;
    margin: 32px;
    padding: 20px;
    justify-content: space-between;
}
.btnlast{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--color-y);
    text-decoration: none;
}
.btn_last{
    background-color: rgba(56, 62, 69, 0.44);
    padding: 1.2rem 2.6rem;
    text-decoration: none;
    display: table;
    box-sizing: border-box;
    border-radius: 50px;
    white-space: nowrap;
    margin: 0 auto;
    height: fit-content;
}
.lastcard{
    width: 42%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.card_part{
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}
.contactinfo{
    margin-top: 254px;
	display: flex;
    height: 400px;
	padding: 14.8rem 5rem 0;
	justify-content: space-between;
	background-color: #1C1C1C;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 1.35rem;
	color: #F5FBF2;
	line-height: 2.25rem;
}
.contactinfo ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.contactinfo li a {
    color: #7B7B7B;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
}
.contactinfo li a:hover{
    color: var(--color-y);
}
.name{
    color: var(--color-y);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}
.profession{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}
.lml{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
}